.heading {
    background-color: aqua;
    color: blue;
}

b{
    background-color: aquamarine;
    color: brown;
}

button {
    background-color: antiquewhite;
    color: black;
}
p{
    color: green;
}

body{
    background-color: pink;
}